<h3 *ngIf="drinkresult" style="text-align: center;">{{drinkName}} is added successfully</h3>
 <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" style="background-color: aquamarine;">
                Add Drink 
              </div>
              <div class="card-body">
                <form [formGroup]="drinkForm" (ngSubmit)="addDrink()" class="card-body" >
                    <div class="form-group">
                        <label for="nameOfDrink">Drink Name:</label>
                        <input type="text" class="form-control" id="nameOfDrink" formControlName="nameOfDrink" placeholder="Enter nameOfDrink">
                      </div>
                      <div class="form-group">
                        <label for="brand">Brand:</label>
                        <input type="text" class="form-control" id="brand" formControlName="brand" placeholder="Enter Brand">
                      </div>
                      <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter Price">
                      </div>
                      <div class="form-group">
                        <label for="typeOfDrink">Type Of Drink:</label>
                        <input type="text" class="form-control" id="typeOfDrink" formControlName="typeOfDrink" placeholder="Enter Type Of Drink">
                      </div>
                      <div  class="form-group">
                        <label for="alcohalic">alcohalic:</label>
                        <select id="alcohalic" formControlName="alcohalic" class="form-control">
                          <option value= true>True</option>
                          <option value=false>False</option>
                        </select>
                      </div>
                      <button type="button" class="btn btn-outline-primary" type="submit" [disabled]="drinkForm.invalid">Add Drink</button>
                    </form>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    



   